<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><span style="font-size: 20px; padding:7px; color:#009761;">
			  <i class="icon-leaf"></i> 
			</span>
			Jobber</a>
      <ul class="nav">
        <li><a href="#about">À propos</a></li>
        <li><a href="#contact">Contactez-nous</a></li>
      </ul>
			<div class="social-medias">	
		    <i class="icon-facebook-sign"></i> 
				<i class="icon-twitter-sign"></i> 
				<i class="icon-linkedin-sign"></i> 
			</div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="page-header">
   <!--   <h1>Trouvez un emploi. <small> Vite.</small></h1> */-->
    </div>
		<form class="well form-search">
			      <input type="text" class="input-x-large" placeholder="Recherchez un emploi">
			      <button class="btn" type="submit" class="btn">
			      	<div style="font-size: 20px;">
							  <i class="icon-search"></i> 
							</div>
			      </button>
			    </form>
    <table class="table table-striped">
	 <tr>
		<th></th>
	   <th>Titre</th>
	   <th>Entreprise</th>
	   <th>Date</th>
		 <th class="right"></th>
	
	 </tr>
	<%  for job in @jobs 
	scrapper = Scrapper.find(job.line_items.first.scrapper_id)	
	%>
	
	 <tr>
		<td><i class="icon-arrow-up"></i> </td>
	   <td><span class="jobtitle">		
			<%= if job.title.length > 50 
						link_to job.title[0,50] + "...", job.job_url 
					else
						link_to job.title, job.job_url 
						
					end%></span></td>
	   <td><%= if job.business.length > 50
							job_business = job.business[0,50].titleize + "..." 
 					   else
						  job.business.titleize
						 end %>
						 </td>
	   <td><%= if job.date_posted != nil 
							 
							 job.date_posted.strftime('%e') + " " + 				      t("date.month_names")[job.date_posted.month].titleize 
							 
						 end %></td>
		<td><%= link_to image_tag("#{scrapper.image_url}"), job.job_url %> </td> 		
		
	 </tr>
	<% end %>
	</table>
	<%= paginate @jobs%>
  </div>
  <footer>
	</BR>
    <p>&copy; Jobber. 2012.</p>
  </footer>

