<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Jobber</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>Find a job. <small> Fast.</small></h1>
    </div>
    <table class="table table-condensed">
	 <tr>
	   <th>Titre</th>
	   <th>Entreprise</th>
	   <th>Date</th>
	 </tr>
	<% @jobs.each do |job| %>
	 <tr>
	   <td><span class="jobtitle">
		  <%= image_tag "grenier_icon.jpg" %>
			<%= if job.title.length > 50 
						link_to job.title[0,50] + "...", job.job_url 
					else
						link_to job.title, job.job_url 
					end%></span></td>
	   <td><%= if job.business.length > 50
		  			   job.business[0,50] + "..."
						 else
								job.business
						 end%></td>
				 		
	   <td><%= if job.date_posted != nil 
							 job.date_posted.strftime('%B %d')
						 end %></td>
	 </tr>
	<% end %>
	</table>
	<%= paginate @jobs%>
  </div>
  <footer>
	</BR>
    <p>&copy; Jobber. 2012.</p>
  </footer>

