<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Jobber</a>
      <ul class="nav">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>Find a job. <small> Fast.</small></h1>
    </div>
    <table class="table">
	 <tr>
		 <th>     </th>
	   <th>Titre</th>
	   <th>Entreprise</th>
	   <th>Date</th>
	 </tr>
	<%  for job in @jobs 
	scrapper = Scrapper.find(job.line_items.first.scrapper_id)	
	%>
	 <tr>
		<td><%= link_to image_tag("#{scrapper.image_url}"), job.job_url %> </td>
	   <td><span class="jobtitle">
			<%= if job.title.length > 50 
						link_to job.title[0,50] + "...", job.job_url 
					else
						link_to job.title, job.job_url 
						
					end%></span></td>
	   <td><%= if job.business.length > 50
							job_business = job.business[0,50].titleize + "..." 
 					   else
						  job.business.titleize
						 end %>
						 </td>
				 		
	   <td><%= if job.date_posted != nil 
							 job.date_posted.strftime('%B %d')
						 end %></td>
	 </tr>
	<% end %>
	</table>
	<%= paginate @jobs%>
  </div>
  <footer>
	</BR>
    <p>&copy; Jobber. 2012.</p>
  </footer>

