<p id="notice"><%= notice %></p>

<p>
  <b>Job:</b>
  <%= @line_item.job_id %>
</p>

<p>
  <b>Scrapper:</b>
  <%= @line_item.scrapper_id %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
